.cabecalho{
    background-color: green;
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-color: tomato;
    padding: 100px;
}

.section2 {
    background-color: chocolate;
    padding: 100px;
}
.rodape {
    color: #000;
}